<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Server=DESKTOP-3SQEJ2L\SQLEXPRESS;Database={0};Trusted_Connection=true"/>
	</connectionStrings>
	<appSettings>
		<add key="Database" value ="Rap"/>
		
		<add key="ParentTableName" value="RapBands"/><add key="ChildTableName" value ="RapBandAlbums"/><add key="ParentReferencedKey" value="bandID"/><add key="ChildForeignKey" value="bandID"/>

		<!--<add key="ParentTableName" value="RapBands"/><add key="ChildTableName" value ="Rappers"/><add key="ParentReferencedKey" value="bandID"/><add key="ChildForeignKey" value="bandID"/>-->
	</appSettings>
</configuration>