<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1 id="greeting"></h1>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $.ajax({
                url: 'getUsername.php',
                type: 'GET',
                success: function(response) {
                    if (response !== '') {
                        $('#greeting').text('Hello, ' + response + '!');
                    } else {
                        window.location.href = 'login.html';
                    }
                }
            });
        });
    </script>
</body>
</html>